<h3>Concerts de l'artiste {{artistName}}</h3>
<div class="row">
              
    <div class="shows">
        <div class="map">
            <google-map
              [center]="center"
              [zoom]="zoom"
              width="968"
              height="300">
              <map-marker
              *ngFor="let marker of markerPositions"
              [position]="marker">
              </map-marker>      
            </google-map>
          </div>

            <!-- Liste des concerts -->
    <div *ngFor="let place of tabShows">
        <h4>{{place.date}}</h4>
        <p>{{place.pays}}</p>
        <p>{{place.city}}</p>        
    </div>    
    </div>         

</div>