<body>
  <header>
      <div class="row">
          <!-- <div><a href="/artist.html">J'ai yoink le template de l'enseignant</a></div> -->
          <div><a [routerLink]="['/artist']">{{'AppComponent.header' | translate}}</a></div>
          <div class="spacer"></div>
          <div>
              <select name="language" id="language">
                  <option (click)="changeLanguage('fr')" value="fr-ca">Français</option>
                  <option (click)="changeLanguage('en')" value="en-us">English</option>
              </select>
          </div>
      </div>
  </header>
  <main>
      <router-outlet></router-outlet>
  </main>
  <footer>
      <div>
          &copy; {{'AppComponent.header' | translate}}<!-- Tous droits réservés à Spotify, BandsInTown et Google -->
      </div>
  </footer>
  </body>
